<h1>Configuração do Ambiente<h1>
<br>
<h2>Simuladores:</h2>

<% if @simulators.any? %>
  <ul>
    <% @simulators.each do |simulator| %>
      <li><div>
      
      <a href="/simulators/<%= simulator.id %>"><%= simulator.name %></a>
      <button >Disabled</button>
      </div></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum simulador encontrado.</p>
<% end %>