<h1> Experimentos do <%= @simulator.name %></h1>

<% if @experiments.any? %>
    <ul>
        <% @experiments.each do |experiment| %>
        <li><div>
        <%= experiment.name %>
        </div></li>
        <% end %>
    </ul>
<% else %>
  <p>Nenhum experimento encontrado.</p>
<% end %>

<input type="button" value="Voltar" onClick="history.go(-1)"> 