/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title_logs{
    margin-left: 50px;
    color: rgb(0, 0, 0)
}

 .table_logs{
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   text-align: center;
 }

 .table_logs thead tr {
   background-color: #009879;
   color: #ffffff;
   text-align: center;
}

.table_logs td {
   background-color: white;
}

 .container_logs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:  50px 50px 50px 50px;
    background: rgb(244, 243, 232)
 }

 .itens_logs{
   width: 100px;
 }

 .input_log{
   width: 250px;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 5px 5px 5px 5px;
   border: #ffffff;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
 }
 
 .background_logs{
  border-radius:  50px 50px 30px 30px;
  background-color: white;
 }